## ----------------------------------------- ##
## ------------ Project Specific ----------- ##
## ----------------------------------------- ##

## ----------------------------------------- ##
## ------------- Project Tools ------------- ##
## ----------------------------------------- ##
**/.husky/_/

## ----------------------------------------- ##
## ----------- Environment Files ----------- ##
## ----------------------------------------- ##
**/.env

## ----------------------------------------- ##
## ------------ Editor Specific ------------ ##
## ----------------------------------------- ##
**/.idea
**/.docker

## ----------------------------------------- ##
## -------------- OS Specific -------------- ##
## ----------------------------------------- ##
# MacOS
**/.DS_Store

## ----------------------------------------- ##
## ---------- Dependency Specific ---------- ##
## ----------------------------------------- ##
**/node_modules
**/jspm_packages
**/.yarn
**/.pnp.cjs
**/.pnp.loader.mjs

## ----------------------------------------- ##
## ----------- Build Directories ----------- ##
## ----------------------------------------- ##
**/bin
**/lib
**/dist
**/build

## ----------------------------------------- ##
## --------------- Lock Files -------------- ##
## ----------------------------------------- ##
**/pnpm-lock.yaml
**/yarn.lock
**/package-lock.json

## ----------------------------------------- ##
## -------------- Cache Files -------------- ##
## ----------------------------------------- ##
**/.eslintcache
**/.turbo
**/.next

## ----------------------------------------- ##
## ----------------- Logs ------------------ ##
## ----------------------------------------- ##
.logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


